<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p><%= __("Welcome") %> <%= title %></p>
    <a href="/profile"><%= __("Profile") %></a>
    <a href="/profile_edit"><%= __("Edit Profile") %></a>
    <a href="/forum"><%= __("Forum") %></a>
  </body>
</html>
