<!DOCTYPE html>
<html lang="en">
<head>

  <% include ../views/partials/head %>
  <script src="js/forum.js"></script>
</head>

<body ng-app="forum">

  <% include ../views/partials/nav %>

  <div class="container" ng-controller="PostController">
  	
    <div class="row">
      <h2><small class="col-sm-1 col-sm-offset-2"><%= __("Title") %>：</small></h2>
      <input class=" col-sm-6 frame frame-border theme-article title" ng-model="post.title" placeholder="<%= __("Title") %>">
    </div>
    <div class="row">
      <h2><small class="col-sm-1 col-sm-offset-2"><%= __("Content") %>：</small></h2>
      <textarea class=" col-sm-6 frame frame-border frame-high content" ng-model="post.content" placeholder="<%= __("Content") %>"></textarea>
    </div>
    <div class="col-sm-offset-3 col-sm-6 item-center">
      <button class="btn btn-primary" ng-click="submitArticle()"><%= __("Send") %></button>
    </div> 

  </div>

  <% include ../views/partials/js %>

</body>
</html>